* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#container {
  display: grid;
  grid-template-rows: 100px 10fr;
  grid-template-columns: 300px 100fr;
}

/* ////////////////////////////////////////Header  */
.header-container {
  /* border: 2px solid salmon; */
  grid-column: 1 / 2;
  background: rgb(40, 40, 40);
  font-size: 2rem;
  color: whitesmoke;
  display: grid;
}

.header-title {
  place-self: center;
}

/* ////////////////////////////////////////Side  */
.side-container {
  /* border: 2px solid greenyellow; */
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background: rgb(40, 40, 40);
  display: grid;
}

.side-menu {
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: repeat(11, 1fr);
  justify-content: center;
}

.side-button {
  color: whitesmoke;
  font-size: 1.5rem;
}

.side-button:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 3 / 10;

}

.side-button:nth-child(2) {
  grid-row: 2 / 3;
  grid-column: 3 / 10;
  display: grid;
  /* border-bottom: 3px solid whitesmoke; */
}

.side-project-container {
  grid-row: 3 / 4;
  grid-column: 4 / 10;
  color: whitesmoke;
}

.side-project-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.side-del-button {
  background: rgb(100, 100, 100);
  color: whitesmoke;
  border-radius: 20rem;
  border: 1px solid transparent;
  width: 2rem;
  height: 1.8rem;
}
/* ////////////////////////////////////////Inbox  */

.content {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  background: rgb(55, 55, 55);
  display: grid;
  padding-bottom: 100px;
}

.inbox-content,
.project-content {
  color: whitesmoke;
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 1fr 5fr 1fr;
}

/* ////////////////////////////////////////Inbox Header  */
.inbox-header-container,
.project-header-container {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 5px solid whitesmoke;
  align-items: end;
}

.inbox-title,
.project-title {
  font-size: 2rem;
  grid-column: 1 / 2;
}

.new-todo-div,
.new-project-div {
  grid-column: 3 / 4;
  display: grid;
  grid-template-columns: 1fr 1.5fr 109px;
  justify-self: end;
  align-items: center;
}

.inbox-add,
.project-add {
  font-size: 3rem;
  grid-column: 2 / 3;
  position: relative;
  top: 0.28rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.new-todo {
  font-size: 1.5rem;
  position: relative;
  top: 0.5rem;
  width: fit-content;
}

.new-project-div select {
  background: rgba(40, 40, 40, 0);
  font-size: 1.5rem;
  color: whitesmoke;
  position: relative;
  top: 0.5rem;
}
/* ////////////////////////////////////////Inbox Card  */
.card-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}

.card-item,
.card-item-shrink {
  background: rgba(40, 40, 40);
  border-radius: 20px;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 30px;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(140px, max-content);
}

.todo-form {
  display: flex;
  flex-direction: column;
}

input,
.card-item select {
  background: rgba(40, 40, 40, 0);
  color: whitesmoke;
  font-size: 1.5rem;
  border: 1px solid transparent;

}

.card-container input:nth-child(1) {
  grid-row: 1 / 2;
}

.card-container input:nth-child(2) {
  grid-row: 2 / 3;
}

.card-container input:nth-child(3) {
  grid-row: 3 / 4;
}

.card-item select {
grid-row: 4 / 5;
}

.card-title {
  grid-row: 1 / 2;
}

.card-descript {
  grid-row: 2 / 3;
}

.card-date {
  grid-row: 3 / 4;
}

.card-priority {
  grid-row: 4 / 5;
}

.add-button,
.edit-button,
.del-button,
.expand-button {
  width: 4rem;
  height: 1.8rem;
  justify-self: end;
  align-self: end;
  background: rgb(100, 100, 100);
  color: whitesmoke;
  border-radius: 20rem;
  border: 1px solid transparent;
}
.expand-button {
  justify-self: start;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.add-button {
  grid-column: 2 / 3;
}
.shrink-button,
.edit-button {
  grid-row: 4 / 5;
  grid-column: 2 / 3;

}

.del-button {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 2rem;
  justify-self: end;
}

.shrink-button {
  width: 4rem;
  height: 1.8rem;
  justify-self: start;
  align-self: end;
  background: rgb(100, 100, 100);
  color: whitesmoke;
  border-radius: 20rem;
  border: 1px solid transparent;
}
/* ////////////////////////////////////////Footer  */
.footer-container {
  /* border: 2px solid lightcoral; */
  grid-column: 1 / 2;
  background: rgb(40, 40, 40);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: beige;
  place-items: center;
}

.footer-add {
  grid-column: 3 / 4;
  font-size: 3rem;
  padding-bottom: 0.5rem;
}

.footer-container > input {
  grid-column: 5 / 6;
  font-size: 1.5rem;
  width: 14rem;
}