* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 1fr 5fr;
}

 /* ////////////////////////////////////////Header  */
.header-container {
  /* border: 2px solid salmon; */
  grid-column: 1 / 2;
  background: rgb(40, 40, 40);
  font-size: 2rem;
  color: whitesmoke;
  display: grid;
}

.header-title {
  place-self: center;
}

 /* ////////////////////////////////////////Side  */
.side-container {
  /* border: 2px solid greenyellow; */
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background: rgb(40, 40, 40);
  display: grid;
}

.side-menu {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 10fr;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  justify-content: center;
}

.side-button {
  color: whitesmoke;
  font-size: 1.5rem;
  grid-column: 2 / 3;
}

.side-button:nth-child(1) {
  grid-row: 2 / 3;
}

.side-button:nth-child(2) {
  grid-row: 3 / 4;
}

.side-button:nth-child(3) {
  grid-row: 4 / 5;
}

.project-container {
  grid-row: 5 / 6;
  grid-column: 2 / 4;
  color: whitesmoke;
}

.project-title {
  font-size: 1.1rem;
  text-align: center;
}
 /* ////////////////////////////////////////Inbox  */
.inbox-container {
  /* border: 2px solid cyan; */
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  background: rgb(70, 70, 70);
  display: grid;
}

.inbox-content {
  color: whitesmoke;
  display: grid;
  grid-template-rows: 0.1fr 1fr 10fr;
  grid-template-columns: 1fr 5fr 1fr;
}

 /* ////////////////////////////////////////Inbox Header  */
.inbox-header-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 5px solid whitesmoke;
  align-items: end;
}

.inbox-title {
  font-size: 2rem;
  grid-column: 1 / 2;
}

.new-todo-div {
  grid-column: 3 / 4;
  display: grid;
  grid-template-columns: 1fr 1.5fr 3fr;
  justify-self: end;
  align-items: center;
}

.inbox-add {
  font-size: 3rem;
  position: relative;
  top: 0.3rem;
  grid-column: 2 / 3;
}

.new-todo {
  font-size: 1.5rem;
  position: relative;
  top: 0.5rem;
}

 /* ////////////////////////////////////////Inbox Card  */
 .card-container {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
 }

 .card-item {
  background: rgba(40, 40, 40, 0.6);
  border-radius: 20px;
  padding: 1rem;
  margin-top: 1rem;

 }

 .card-title {
  font-size: 1.2rem;
 }
 /* ////////////////////////////////////////Footer  */
.footer-container {
  /* border: 2px solid lightcoral; */
  grid-column: 1 / 2;
  background: rgb(40, 40, 40);
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 1fr;
  color: beige;
  place-items: center;
}

.footer-add {
  font-size: 3rem;
  grid-column: 2 / 3;
  padding-bottom: 0.5rem;
}

.footer-new-prj {
  font-size: 1.5rem;
}