* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 300px 100fr;
}

/* ////////////////////////////////////////Header  */
.header-container {
  /* border: 2px solid salmon; */
  grid-column: 1 / 2;
  background: rgb(40, 40, 40);
  font-size: 2rem;
  color: whitesmoke;
  display: grid;
}

.header-title {
  place-self: center;
}

/* ////////////////////////////////////////Side  */
.side-container {
  /* border: 2px solid greenyellow; */
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  background: rgb(40, 40, 40);
  display: grid;
}

.side-menu {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 10fr;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  justify-content: center;
}

.side-button {
  color: whitesmoke;
  font-size: 1.5rem;
  grid-column: 2 / 3;
}

.side-button:nth-child(1) {
  grid-row: 2 / 3;
}

.side-button:nth-child(2) {
  grid-row: 3 / 4;
}

.side-button:nth-child(3) {
  grid-row: 4 / 5;
}

/* .project-container {
  grid-row: 5 / 6;
  grid-column: 2 / 4;
  color: whitesmoke;
}

.project-title {
  font-size: 1.1rem;
  text-align: center;
} */
/* ////////////////////////////////////////Inbox  */

.content {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  background: rgb(70, 70, 70);
  display: grid;
}

.inbox-content,
.project-content {
  color: whitesmoke;
  display: grid;
  grid-template-rows: 0.1fr 1fr 10fr;
  grid-template-columns: 1fr 5fr 1fr;
}

/* ////////////////////////////////////////Inbox Header  */
.inbox-header-container,
.project-header-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 5px solid whitesmoke;
  align-items: end;
}

.inbox-title,
.project-title {
  font-size: 2rem;
  grid-column: 1 / 2;
}

.new-todo-div,
.new-project-div {
  grid-column: 3 / 4;
  display: grid;
  grid-template-columns: 1fr 1.5fr 109px;
  justify-self: end;
  align-items: center;
}

.new-project-div {
  grid-template-columns: 1fr 1.5fr 130px;
}

.inbox-add,
.project-add {
  font-size: 3rem;
  grid-column: 2 / 3;
  position: relative;
  top: 0.28rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.new-todo,
.new-project {
  font-size: 1.5rem;
  position: relative;
  top: 0.5rem;
  width: fit-content;
}

/* ////////////////////////////////////////Inbox Card  */
.card-container {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}

.card-item {
  background: rgba(40, 40, 40, 0.6);
  border-radius: 20px;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 30px;
  display: grid;
  grid-template-columns: 7fr 1fr;
}

form {
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: 7fr 1fr; */
}

input,
select {
  background: rgba(40, 40, 40, 0.6);
  color: whitesmoke;
  font-size: 1.5rem;
  border: 1px solid transparent;

}

input:nth-child(1) {
  grid-row: 1 / 2;
}

input:nth-child(2) {
  grid-row: 2 / 3;
}

input:nth-child(3) {
  grid-row: 3 / 4;
}

select {
grid-row: 4 / 5;
}

.card-title {
  grid-row: 1 / 2;
}

.card-descript {
  grid-row: 2 / 3;
}

.card-date {
  grid-row: 3 / 4;
}

.card-priority {
  grid-row: 4 / 5;
}

.add-button,
.edit-button,
.del-button {
  width: 4rem;
  height: 1.8rem;
  justify-self: center;
  align-self: end;
  background: rgb(100, 100, 100);
  color: whitesmoke;
  border-radius: 20rem;
  border: 1px solid transparent;
}

.add-button {
  grid-column: 2 / 3;
}

.edit-button {
  grid-row: 4 / 5;
}

.del-button {
  grid-row: 1 / 2;
  width: 2rem;
  justify-self: end;
}
/* ////////////////////////////////////////Footer  */
.footer-container {
  /* border: 2px solid lightcoral; */
  grid-column: 1 / 2;
  background: rgb(40, 40, 40);
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 1fr;
  color: beige;
  place-items: center;
}

.footer-add {
  font-size: 3rem;
  grid-column: 2 / 3;
  padding-bottom: 0.5rem;
}

.footer-new-prj {
  font-size: 1.5rem;
}